Language: Cpp
BasedOnStyle: Google

# Neven allow single line blocks even if the code block is short
# because that will kill the debugability of the program
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false